.header {
    text-align: center;
}

.mainForm {
    text-align: center;
    display: flex;
    justify-content: center;
}

.submit {
    text-align: center;
}

.gemimg {
    align: left;
}

.obstacles { 
    display: flex;
    justify-content: center;
    height: 100px;
}

#afterInit {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
